{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-warning">
                <div class="card-header bg-warning text-white text-center">
                    <h2>Sign Up</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="/signup">
                        <div class="form-group">
                            <label for="email" class="text-warning">Email address</label>
                            <input type="email" class="form-control border-warning" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-warning">Password</label>
                            <input type="password" class="form-control border-warning" id="password" name="password"
                                required>
                        </div>
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-warning btn-block">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}